.active {
border-bottom: 4px solid rgb(0, 204, 255);
font-weight: bold;
color: rgb(243, 213, 46) !important;
}
.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

